<div class="full-size background-gradient">

  <!-- <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
        {{tile.text}}
      </mat-grid-tile>
    </mat-grid-list> -->

  <div class="startpage-card">
    <h3>
      KAN MAN VINNA PENGAR HELT RISKFRITT?
    </h3>
    <p>Ja det kan man faktiskt och vi ska visa dig exakt hur det går till.</p>
    <p>
      Vi på betsafeonline.com erhåller dig en guide till hur du exakt ska göra för att tjäna pengar hemifrån, enkelt och helt riskfritt.
    </p>
    <p>
      Du behöver ingen tidigare kunskap om betting, odds eller sport för att komma igång. Följ bara våra steg-för-steg
      <a href="../guide">guide</a> och sätt igång.
    </p>
  </div>

  <div class="startpage-card">
    <h3>VAD ÄR RISKFRI BETTING?</h3>
    <p>
      Vi kommer inte betta på matcher och hoppas på att oddsen går in. Vi kommer istället vinna över bonusar som olika spelbolag
      erbjuder. Detta gör att vi genom att betta spelbolag mot spelbörsen
      <a href="#">Betfair.com</a>. Vi går igenom exakt hur detta går till via vår guide. Bara att köra igång.
    </p>
  </div>

  <div class="startpage-card">
    <h3>VAD BEHÖVER DU FÖR ATT KOMMA IGÅNG?</h3>
    <ul>
      <li>
        Vi föredrar att du använder en dator. Såklart är det möjligt på en mobiltelefon eller surfplatta. Men eftersom man ska växla
        lite mellan sidor m.m. så är det enklare på en dator.
      </li>
      <li>
        Svenskt körkort, pass eller Id-kort. Anledningen till detta är att en del spelsiter kräver någon av dessa handlingar för
        att kunna ta ut pengar.
      </li>
      <li>
        Ett startbelopp på 6000 - 12000 kr som du kan undvara i några veckor. Detta är riskfritt men kan vara viktigt att komma ihåg
        att du inte kommer kunna ta ut dem på några veckor.
      </li>
    </ul>
  </div>

  <div class="startpage-card">
    <h3>
      VAD KOMMER DETTA GE DIG?
    </h3>
    <ul>
      <li>
        Du kommer kunna plocka ut flera tusen i månaden i extra pengar. Summan varierar beroende på hur mycket tid du lägger.
      </li>
      <li>
        Få råd med det du verkligen vill ha.
      </li>
      <li>
        Visa dina vänner och familj denna sida för att sprida glädjen.
      </li>
    </ul>
  </div>

  <div class="startpage-card">
    <h3>
      VARFÖR DELAR VI MED OSS AV DETTA SYSTEM?
    </h3>
    <ul>
      <li>
        Vi får en mindre kickback av spelbolagen när du använder länkarna här på hemsidan.
      </li>
      <li>
        Vi kan använda pengarna till att uppdatera sidan och underhålla den med de senaste bonusarna och informationen.
      </li>
    </ul>
  </div>

  <div class="startpage-card">
    <h3>
      HUR FUNGERAR DETTA SYSTEM
    </h3>
    <ul>
      <li>
        Eftersom marknaden för online spelbolag har ökat markant och konkurrensen har hårdnat på senare år så slåss spelbolagen om
        nya spelare.
      </li>
      <li>
        Detta gör att spelbolagen försöker locka till sig spelare via välkomstbonusar av alla dess slag.
      </li>
      <li>
        Vi utnyttjar detta till vår fördel och spelar hem bonusen riskfritt och enkelt via Betfair.
      </li>
      <li>
        Genom att spela på ett bett via spelbolagen och sedan matcha det på Betfair kommer vi inte förlora några pengar, men vinna
        över bonusen till Betfair där vi kan plocka ut dem direkt, utan att behöva omsätta dem på spelbolagens hemsidor.
        </li>
    </ul>
  </div>

</div>