<div class="background-gradient">
  <div class="transparent">
    <div class="blur"></div>
    <mat-horizontal-stepper>
      <mat-step label="1">
        <div class="stepp">
          <h3>Registrera dig hos
            <a href="https://www.betfair.com" target="_blank">Betfair</a>
          </h3>
          <div class="informationBox">
            <p>Sidan ger dig möjlighet att själv agera bookmaker. Vi kommer jobba mycket med denna site.</p>
            <p>Se till att du verifierar dig på siten direkt. Det kan ta någon dag för Betfair att godkänna.</p>
          </div>
        </div>
        <!-- <p>Här är en liten guide på hur du verifierar dig på Betfair.</p> -->
        <div class="navigationButtons">
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step label="2" class="stepp">
        <div class="stepp">
          <h3>Sätt in pengar på Betfair</h3>
          <div class="informationBox">
            <p>
              Det är på denna site du ska ha din buffert. Sätt in mellan 4000kr till 12000kr. Pengarna måste du kunna avvara i några veckor.
            </p>
            <p>
              Detta är helt riskfritt men bra att veta är att du inte kommer kunna ta ut pengarna den första veckan eller två.
            </p>
          </div>

        </div>
        <div class="navigationButtons">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step label="3">
        <div class="stepp">
          <h3>• Registrera dig hos Oddsmonkey</h3>
          <p> Det är ett verktyg för att jämföra odds mot varandra. Det är alltså inte ett krav att använda denna sida. Men jag
            rekommenderar det verkligen. Det underlättar otroligt mycket och 150kr/månaden som premiumtjänsten kostar är
            värt varenda krona. Detta är den enda fasta kostnaden du har men du kommer tjäna igen pengarna många gånger om.
          </p>
        </div>
        <div class="navigationButtons">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step label="4">
        <div class="stepp">
          <h3>Registrera dig hos ett valfritt spelbolag som har välkomstbonus.</h3>
          <p>Du kan välja en site med bra bonuserbjudande här. Vi kan ta Unibet som exempel så välj gärna dem så är det enkelt
            att följa med i guiden. De har 100% av din insatts i bonus. Så sätter du in 1000kr får du även 1000kr av Unibet
            att spela med. Du kan läsa mer om olika krav och regler här.
          </p>
        </div>
        <div class="navigationButtons">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step label="5">
        <div class="stepp">
          <h3>Sätt in pengar på spelbolaget för att aktivera en välkomstbonus.</h3>
          <p>
            Summan kan ju variera beroende på vilken sida du valt. Men har du valt Unibet så vill du sätta in 1000kr för att plocka ut
            1000kr i bonus. Det är denna bonus vi vill spela över till Betfair för att kunna ta ut.
          </p>
        </div>
        <div class="navigationButtons">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step label="6">
        <div class="stepp">
          <h3>
            Se till att du verkligen förstår skillnaden på BET och LAY. Har du inte koll på detta så läs på mer om det här. Är du ändå
            osäker så se till att följa guiden noga.
          </h3>
          <p>
            På Betfair vill du alltid spela på ROSA vilket är ett LAY. Genom detta så spelar du på alla andra resultat. Exempel: Du vill
            spela på Barcelona vs Real Madrid. Du lägger ett BET på Barcelona på Unibet. Alltså spelar du på en 1a. Då vill
            du lägga ett LAY på en 1a på Betfair. Det betyder att du helt enkelt vinner på Betfair om det blir X eller 2.
          </p>
        </div>
        <div class="navigationButtons">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <!-- Steg 2 av delen. Kanske få in ett mellansteg här? -->

      <mat-step label="7">
        <div class="stepp">
          <h3>Gå in på Oddsmonkeys kalkylator för odds.</h3>
          <p>
            Det finns lite olika inställningar för att optimera din Oddsmonkey och göra det enklare och snabbare att lägga odds. Följ
            den guiden här. Rekommenderar att göra detta när man fått lite mer vana i sitt bettande.
          </p>
        </div>
        <div class="navigationButtons">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step label="8">
        <div class="stepp">
          <h3>
            Leta upp ditt spelbolag som du just satt in 1000 kr på (och har fått 1000kr i välkomstbonus). I detta fall väljer vi Unibet
            i listan på spelbolag. </h3>
          <p>
            Här finns det mycket spelbolag att välja mellan och för att göra det enkelt för dig bör du välja spelbolagen som finns i
            denna lista. Det går att spela mot andra bolag men då får du räkna själv eller jämföra mot bolag som kommer från
            samma koncern.
          </p>
        </div>
        <div class="navigationButtons">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step label="9">
        <div class="stepp">
          <h3>
            • Välj nu ett bett med så hög RATING som möjligt. Du vill vara så nära 100% du bara kan. Över 100% är bara bra. • Du vill
            dessutom att det ska vara så höga odds som möjligt. Detta för att vi vill vinna på Betfair helst. • Du vill dessutom
            ha tillräckligt med pengar i avalibilityn. Så mycket som möjligt här.
          </h3>
          <p>
            Om du är nybörjare rekommenderar jag dig att inte spela på galopp de första gångerna. Oddsen ändras snabbt och vi ser gärna
            att du har lite vana innan du spelar på dessa. Så välj gärna en fotbollsmatch eller ishockey där oddsen ändras
            mer sällan.
          </p>
        </div>
        <div class="navigationButtons">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step label="10">
        <div class="stepp">
          <h3>
            Klicka på den lilla symbolen för att öppna kalkylatorn.
          </h3>
          <p>
            Detta är ett snabbare sätt att öppna kalkylatorn på. Nu kommer det redan vara förberett med rätt match och ifyllt med information
            du behöver. Du kan ändra dessa inställningar och följ den korta guiden här.
          </p>
        </div>
        <div class="navigationButtons">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step label="11">
        <div class="stepp">
          <h3>
            • Nu när du har kalkylatorn öppen fyller du i hur mycket du vill betta. • OBS se bild för att se vilka fält som är otroligt
            viktiga att ha koll på. (Bild på fälten. Förklaring på avalibility) 1. Som man kan se här så tänker vi lägga
            500kr på spelbolagets sida. Vi skriver in det i ruta 1 för att kalkylatorn ska kunna räkna ut hur mycket vi ska
            lägg på Betfair för att förlora minimalt av bonusen. 2. Vi ser att våran layability är tillräcklig och täcks
            genom våra pengar på Betfair. 3. Vi ser vilken avgift Betfair tar ut (6,5%) 4. Vi kan nu se exakt hur mycket
            pengar vi ska göra en LAY med på Betfair.

          </h3>
          <p>
            Vi har nu gjort klar vår uträkning. Det är dags att lägga det riktiga betten. Snart är vi klara.
          </p>
        </div>
        <div class="navigationButtons">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step label="12">
        <div class="stepp">
          <h3>
            Gå till Unibet och lägg 500kr på matchen du valt att spela på.
          </h3>
          <p>
            Se till att bettet blir bekräftat och klart.
          </p>
        </div>
        <div class="navigationButtons">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step label="13">
        <div class="stepp">
          <h3>
            • Gå nu in på Betfair och gör en LAY på samma match och samma resultat. • Se till att lägg summan som du ser i ruta 1. Kolla
            av så summorna stämmer med din kalkylator.
          </h3>
          <p>
            Detta betyder ju att du spelat på allt annat än det du spela på via spelbolaget Unibet. Vilket resultat som nu händer under
            matchen gör att du vinner på någon av siterna.
          </p>
        </div>
        <div class="navigationButtons">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step label="14">
        <div class="stepp">
          <h3>
            Wow. Du är klar. Du har precis lagt ditt första bet och kan nu luta dig tillbaka. Invänta resultatet på matchen och se vart
            din vinst hamnar. Har vinsten hamnat på Betfair Vad härligt. Detta är det optimala. Du ser att summan på Unibet
            är överspelad på Betfair och du skulle kunna ta ut pengarna direkt. Har vinsten hamnat på Unibet. Ingen skada
            skedd. Du har bara fått en större summa på Unibet att spela över. Du har omsatt en del av bonusen och det är
            bara att börja om del 2 i denna guide och fortsätta spela på Unibet. Till slut har du antingen omsatt hela bonusen
            och kan ta ut pengarna på Unibet eller så har du fått över alla pengar på Betfair och kan ta ut dem där. Hur
            som helst kommer du gå ut som en vinnare.
          </h3>
          <p>

          </p>
        </div>
        <div class="navigationButtons">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>