<mat-horizontal-stepper>
  <mat-step label="Steg 1">
    <div class="stepp">
      <h3>Registrera dig hos
        <a href="https://www.betfair.com" target="_blank">Betfair</a>
      </h3>
      <div class="informationBox">
        <p>Sidan ger dig möjlighet att själv agera bookmaker. Vi kommer jobba mycket med denna site.</p>
        <p>Se till att du verifierar dig på siten direkt. Det kan ta någon dag för Betfair att godkänna.</p>
      </div>
    </div>
    <!-- <p>Här är en liten guide på hur du verifierar dig på Betfair.</p> -->
    <div class="navigationButtons">
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Steg 2" class="stepp">
    <div class="stepp">
      <h3>• Sätt in pengar på Betfair</h3>
      <p> Det är på denna site du ska ha din buffert. Sätt in mellan 4000kr till 12000kr. Pengarna måste du kunna avvara i några
        veckor. Detta är helt riskfritt men bra att veta är att du inte kommer kunna ta ut pengarna den första veckan eller
        två. </p>
    </div>
    <div class="navigationButtons">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Steg 3">
    <div class="stepp">
      <h3>• Registrera dig hos Oddsmonkey</h3>
      <p> Det är ett verktyg för att jämföra odds mot varandra. Det är alltså inte ett krav att använda denna sida. Men jag rekommenderar
        det verkligen. Det underlättar otroligt mycket och 150kr/månaden som premiumtjänsten kostar är värt varenda krona.
        Detta är den enda fasta kostnaden du har men du kommer tjäna igen pengarna många gånger om.
      </p>
    </div>
    <div class="navigationButtons">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Steg 4">
    <div class="stepp">
      <h3>Registrera dig hos ett valfritt spelbolag som har välkomstbonus.</h3>
      <p>Du kan välja en site med bra bonuserbjudande här. Vi kan ta Unibet som exempel så välj gärna dem så är det enkelt att
        följa med i guiden. De har 100% av din insatts i bonus. Så sätter du in 1000kr får du även 1000kr av Unibet att spela
        med. Du kan läsa mer om olika krav och regler här.
      </p>
    </div>
    <div class="navigationButtons">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Steg 5">
    <div class="stepp">
      <h3>Steg 5 header.</h3>
      <p>Dtext text 
      </p>
    </div>
    <div class="navigationButtons">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

</mat-horizontal-stepper>